@charset "UTF-8";
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/* Стили для обнуления верхних отступов у элементов */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

/* Класс для обнуления базовых свойств у списков (ul) */
ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

/* Класс для обнуления базовых свойств у ссылок */
a {
  text-decoration: none;
  color: inherit;
}

/* Свойства для корректного отображения картинок */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Свойства для обнуления курсива у address */
address {
  font-style: normal;
}

pre {
  font-family: none;
}

body {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  color: #000;
}

body {
  width: 320px;
  height: auto;
  margin: 0 auto;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

.container--header {
  padding: 35px 15px 30px 15px;
}

.container-header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-header-wrapper__logo {
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
}

.container-header-wrapper__highlighted {
  color: #939393;
}

.container-header-wrapper__menu-brg-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  background-color: transparent;
}

.menu-burg-is-open {
  overflow: hidden;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.menu-burg-cont {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  overflow-y: scroll;
  background-color: #fff;
  height: 100%;
  width: 100%;
}

.menu-burg-cont__btn {
  position: absolute;
  top: 10px;
  right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  background-color: transparent;
  font-size: 20px;
}

.menu-burg-nav {
  padding: 35px 20px 20px 20px;
}

.menu-burg-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}

.menu-burg-list__link {
  display: block;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #263238;
}

.menu-burg-list__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4px 36px 4px 36px;
  font-weight: 400;
  font-size: 14px;
  line-height: 36px;
  color: #000000;
  border: 2px solid #263238;
  border-radius: 5px;
  background-color: #fff;
}

.hero-section {
  margin-bottom: 50px;
}

.container--hero {
  padding: 0 10px 0 10px;
}

.hero-wrapper__title {
  margin-top: 16px;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #000000;
}

.hero-wrapper__txt {
  margin-top: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #8F95A5;
}

.hero-wrapper__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 35px;
  padding: 15px 0;
  width: 100%;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  background: #263238;
  border: none;
  border-radius: 5px;
}

.skills-section {
  margin-bottom: 50px;
}

.skills-wrapper__title {
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  line-height: 80px;
  color: #000000;
}

.skills-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.skills-list__item--designed {
  padding: 8px 14px 38px 14px;
  background: #F5F5F5;
  border-radius: 5px;
}

.thumb-wrapper__img {
  margin: 0 auto;
}

.description-wrapper__title {
  margin-top: 60px;
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 18px;
  color: #263238;
}

.description-wrapper__txt {
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #8F95A5;
}

.description-wrapper__txt--first {
  margin-bottom: 20px;
}

.description-wrapper__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 14px 43px 14px 43px;
  border-radius: 5px;
  border: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #FFFFFF;
  background: #263238;
}

.about-us-section {
  margin-bottom: 84px;
}

.about-us-wrapper__title {
  margin-bottom: 24px;
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  color: #000;
}

.about-us-wrapper__txt {
  margin-top: 24px;
  text-align: center;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #8F95A5;
}

.about-us-list {
  margin-top: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}

.about-us-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-us-list__num {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 24px;
  color: #2A3246;
}

.about-us-list__txt {
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #8F95A5;
}

.pricing-section {
  margin-bottom: 72px;
}

.pricing-wrapper__title {
  margin-bottom: 50px;
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  color: #000;
}

.pricing-wrapper-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 64px;
}

.pricing-wrapper-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pricing-wrapper-list-description {
  margin-top: 18px;
}

.pricing-wrapper-list-description__title {
  margin-bottom: 18px;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #263238;
}

.pricing-wrapper-list-description__txt {
  margin-bottom: 34px;
  text-align: center;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #8F95A5;
}

.pricing-wrapper-list-description__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  max-width: 170px;
  margin: 0 auto;
  padding: 5px 14px 5px 14px;
  border: none;
  border-radius: 5px;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #263238;
  background: #EEEEEE;
}

.pricing-wrapper-list-description__highlighted {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-weight: 400;
  font-size: 14px;
  color: #546269;
}

.contact-us-section {
  margin-bottom: 55px;
}

.contact-us-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 38px;
}

.contact-us-wrapper__title {
  font-weight: 600;
  line-height: 3.3;
  font-size: 24px;
  color: #000;
}

.contact-us-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-us-form__label {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  text-align: center;
  color: #8F95A5;
}

.contact-us-form__input {
  margin-bottom: 16px;
  padding: 16px 26px 16px 26px;
  border: 1px solid #8F95A5;
  border-radius: 5px;
}
.contact-us-form__input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #8F95A5;
}
.contact-us-form__input::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #8F95A5;
}
.contact-us-form__input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #8F95A5;
}
.contact-us-form__input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #8F95A5;
}
.contact-us-form__input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #8F95A5;
}

.contact-us-form__btn {
  padding: 20px 0;
  border: none;
  border-radius: 5px;
  background: #263238;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #FFFFFF;
}

.footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-top: 1px solid #C4C4C4;
  padding: 20px 0 46px 0;
}

.footer-wrapper__logo {
  margin-bottom: 15px;
  text-align: center;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
}

.footer-wrapper__highlighted {
  color: #939393;
}

.footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-list__link {
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  color: #8F95A5;
}/*# sourceMappingURL=main.css.map */